<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>CLARKE </h1>
    <P>
        Emilia Isobel Euphemia Rose Clarke, ​​ conocida como Emilia Clarke, es una actriz y autora británica, conocida principalmente por interpretar a Daenerys Targaryen en la serie de HBO Game of Thrones. Estudió en Drama Centre London, apareciendo en varias producciones teatrales.

    </P>

    <a href="/">Volver al Home</a>

</body>
</html>