<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>HAMILTON </h1>
    <P>
        Alexander Hamilton fue un economista, estadista, político, escritor, abogado, y el primer secretario del Tesoro de los Estados Unidos. Fue uno de los padres fundadores de los Estados Unidos.
    </P>

    <a href="/">Volver al Home</a>


</body>
</html>