<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>HOPPER</h1>
    

<P>Jim Hopper es un personaje ficticio de la serie de terror y ciencia ficción de Netflix Stranger Things. Es el jefe de policía en Hawkins, Indiana, quien, durante las primeras tres temporadas, investiga los extraños sucesos en la ciudad. Hopper es retratado por David Harbour.</P>

<a href="/">Volver al Home</a>

</body>
</html>