<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>heroes</h1>
    <a href="/hopper">HOPPER</a> <P></P>
    <a href="/hamilton">HAMILTON</a> <P></P>
    <a href="/clarke">CLARKE</a> <P></P>
    <a href="/lovelace">LOVELACE</a> <P></P>
    <a href="/turing">TURING</a> <P></P>
    <a href="/babbage">BABBAGE</a> <P></P> 
    <a href="/berners-LEE">BERNERS</a>
</body>
</html>