<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Lovelace </h1>
    <p>
        Su vida estuvo signada por la explotación sexual y un enorme malentendio. La parábola de Linda Lovelace es una de las más fascinantes de la industria del cine. Para muchos, fue la actriz porno más importante del siglo XX, la mujer que le dio glamour a una industria en las sombras y muchas veces sórdida.
    </p>

    <a href="/">volver al home</a>

</body>
</html>