<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Turing </h1>
    <p>Fue famoso por descifrar el código nazi en la Segunda Guerra Mundial y pionero en otras ramas como la biología y la inteligencia artificial, cuya contribución es imprescindible en el desarrollo de las tecnologías actuales. Lo recordamos a 108 años de su nacimiento.</p>
    
      <br>
    <a href="/">Volver al Home</a>


</body>
</html>